
/* label {
	display: block;
} */
.form-row {
	position: relative;
	margin-top: 30px;
}

.form-label {
    position: absolute;
    top: 13px;
    left: 9px;
    color: #999;
    cursor: text;
    transition: 0.3s ease;
}

.form-textbox {
    padding: 10px;
    border: none;
    border-bottom: 2px solid #ddd;
    width: 20%;
}

.form-textbox:focus ~ .form-label,
.form-textbox:valid ~ .form-label {
	top: -0.5em;
	left: 9px;
	color: #999;
	cursor: pointer;
}
.form-textbox:focus,.form-textbox:active{
    border:none;
}




