<ngx-ui-loader></ngx-ui-loader>
<nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">WebSiteName</a>
      </div>
      <ul class="nav navbar-nav">
        <li class="active">
            <a [routerLink]="['/home']">Home</a>
        </li>
        <li>
            <a [routerLink]="['/first']">Sec 1</a>
        </li>
        <li>
            <a [routerLink]="['/second/2']">Sec 2</a>
        </li>
      </ul>
    </div>
  </nav>

<!-- <div class="container">
  <ul class="nav nav-tabs">
    <li class="active">
      <a data-toggle="tab" href="#home">Home</a>
    </li>
    <li>
      <a data-toggle="tab" href="#first">First</a>
    </li>
    <li>
      <a data-toggle="tab" href="#second">Second</a>
    </li>
  </ul>

  <div class="tab-content">
    <div id="home" class="tab-pane fade in active">
      <h2>Home</h2>
    </div>
    <div id="first" class="tab-pane fade">
      <h2>First</h2>
    </div>
    <div id="second" class="tab-pane fade">
      <h2>Second</h2>
    </div>
  </div>
</div> -->
<div class="row">
  <div class="form-row">
    <input type="text" name="gstnum" [(ngModel)]="gstnum" id="form-email" class="form-textbox" required>
    <label for="form-email" class="form-label">GSTIN</label>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <button class="btn btn-primary" (click)="verify()">Verify</button>
  </div>
</div>
<div class="container white-bg">
  <div class="row">
    <div class="col-md-12">
      <table>
        <ng-container>
          <tr>
            <td></td>
          </tr>
        </ng-container>
      </table>
    </div>
  </div>
</div>

